body{
    background-color: rgb(240, 250, 255);
    font-family: arial, helvetica, sans-serif;
}

h1 {
    margin-bottom: 3px;
}

h6 {
    margin-top: 0px;
}

#divMain{
    width: 640px;
    border: 4px solid rgb(0, 0, 255);
    margin: 0 auto 0 auto;
    padding: 0 0 5px 0;

    background-color: rgb(255, 255, 255);
    text-align: center;
}

#longURL{
    width: 600px;
    margin: 5px;
}
